{% extends 'itsc_celulares/base.html' %}


{% block content %}
    <h3>Celulares</h3>
        <style>
    .btn {
        margin-left: 1400px;
    }

    #mark-as-delivered {
        margin: 0;
    }

    </style>

    <a href="{% url 'new-cellphone' %}" class="btn btn-primary" role="button" aria-disabled="true">Nuevo</a>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Descripción del problema</th>
      <th scope="col">Diagnostico</th>
      <th scope="col">Status</th>
      <th scope="col">Cliente</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for repair_order_cellphone in repair_order_cellphones %}
      <tr>
      <th scope="row">{{ repair_order_cellphone.device.id }}</th>
      <td>{{ repair_order_cellphone.device.brand }}</td>
      <td>{{ repair_order_cellphone.device.model }}</td>
      <td>{{ repair_order_cellphone.device.problem_description }}</td>
      <td>{{ repair_order_cellphone.device.diagnosis }}</td>
      <td>{{ repair_order_cellphone.get_order_status_display }}</td>
      <td>{{ repair_order_cellphone.device.customer.full_name }}</td>
      <td>
        <form method="POST" action="{% url 'mark-as-delivered' repair_order_cellphone.id %}">
            {% csrf_token %}
            <button type="submit" id="mark-as-delivered" class="btn btn-info" {% if repair_order_cellphone.order_status == "DELIVERED" %}disabled{% endif %}>Marcar como entregado</button>
        </form>
      </td>

  {% endfor %}

    </tr>
  </tbody>
</table>
{% endblock %}
