{% extends "itsc_celulares/base.html" %}
{% block content %}
     <style>
  .container {
        font-family: Arial, sans-serif;
        overflow: hidden;
        background: white;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        color: #4d4852;
        width: 100%;
        justify-content: space-evenly;
    }


    .ticket {
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        background: #d3eaff; /* Azul pastel */
        width: 30%;
        box-sizing: border-box;
    }

    .ticket h2 {
        margin: 0;
        color: #333;
    }

    .ticket p {
        margin: 5px 0;
    }

    .ticket button {
        display: inline-block;
        margin-top: 15px;
        padding: 10px;
        background: #0e836a; /* Rojo pastel */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .ticket .btn-info,
    .btn-success {
        display: inline-block;
        padding: 8px 16px;
        background-color: #169ede; /* Azul pastel */
        color: white;
        text-decoration: none;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
    }

</style>

    <h2>Ordenes de reparación</h2>
    <div class="container">

        {% if technician_repair_orders %}
            {% for repair_order in technician_repair_orders %}
            <div class="ticket" id="ticket-1">
                <h2>Orden {{ repair_order.id }}</h2>
                <p><strong>Status:</strong> {{ repair_order.get_order_status_display }}</p>
                <p><strong>Cliente:</strong> {{ repair_order.device.customer.full_name }}</p>
                <p><strong>Dispositivo:</strong> {{ repair_order.device.device_brand_model_str_rep }}</p>
                <p><strong>Descripción del problema:</strong> {{ repair_order.device.problem_description }}</p>
                <p><strong>Diagnóstico:</strong> {{ repair_order.device.diagnosis }}</p>
                <p><strong>Fecha de Asignación:</strong> {{ repair_order.date_created | date:"d-m-Y" }}</p>
                <a href="{% url 'diagnose-repair-order' repair_order.id %}"><button class="btn btn-info" {% if repair_order.order_status == "READY FOR DELIVERY" %}disabled{% endif %}>Diagnosticar</button></a>
                <form method="POST" action="{% url 'mark-as-fixed' repair_order.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" {% if repair_order.order_status == "READY FOR DELIVERY" %}disabled{% endif %}>Marcar como reparado</button>
                </form>

            </div>
            {% endfor %}
        {% else %}
        <p>No posee Ordenes de reparacion</p>
    {% endif %}
    </div>

{% endblock %}
