{% extends 'itsc_celulares/base.html' %}
{% block content %}
    <style>
    .users {
        font-size: 20px;
        font-weight: bold;
    }
    .btn {
        margin-left: 1200px;
    }

    #delete-btn {
        margin: 0;
    }



    </style>
<p class="users">Usuarios Activos</p>
    <a href="{% url 'new' %}" class="btn btn-primary" role="button" aria-disabled="true">Nuevo</a>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for technician in technicians %}
      <tr>
      <th scope="row">{{ technician.id }}</th>
      <td>{{ technician.username }}</td>
      <td>{{ technician.first_name }}</td>
      <td>{{ technician.last_name }}</td>
      {% if technician.username.is_active %}
      <td>Activo</td>
      {% endif %}
      <td><a id="delete-btn" class="btn btn-danger" href="{% url 'remove-user' technician.id %}" role="button">Eliminar</a></td>
  {% endfor %}

    </tr>
  </tbody>
</table>
{% endblock %}

